<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Base</title>
</head>
<nav class="navbar navbar-dark bg-primary">
    			<div class="container">

<a href="{% url 'home'%}" class="btn btn-primary">Home</a>

            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

                <li><a href="{% url 'accounts:logout' %}" class="btn btn-danger">Log out</a></li>
            {% else %}
                <li><a  href="{% url 'accounts:register' %}" class="btn btn-primary">sign up</a></li>

                <li><a  href="{% url 'accounts:Studentlogin' %}" class="btn btn-primary">Students sign in</a></li>
            {% endif %}
        </ul>
                </div>
    		</nav>
<div class="container mycontent">
{% block content %}
{% endblock %}
</div>
</body>
</html>

