{% extends "base.html" %}
{% block content %}
<center>
<h1 style="font-family:courier; color:#433d3d"> You are now logged in!</h1>
<h2> Go through this instructions </h2>



    <div class="alert alert-danger" role="alert">
    <center><h5><ol type="1">
        <li>These Exam consists of 50 Multiple Choice Questions </li>
        <li> 25 Questions are Aptitude and 25 Technical</li>
        <li>All Questions comes in Random order</li>
        <li>There is a time limit of 60 Minutes after that page will submitted automatically </li>
        <li>Once Submitted you can not back,So Submit the page Carefully</li>
        <li>Each Question consist of 2 marks each,There is no any negative marking </li></h5>
    </ol>
    </center>
    </div>
        <center
        <B><h3> Best of LUCK!!! </B></h3>
                    <br>
   </center>


    <a href="/Portal/questions.html" class="btn btn-success">Go</a>












{% endblock %}
</center>